.post-wrapper {
    padding: 1em;
}

.comment-section {
    background: grey;
}

.outer-post-wrapper form {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.outer-post-wrapper input {
    width: 70%;
    height: 3em;
    border: 1px solid var(--qborder);
    border-radius: 1000px;
    padding-left: 1em;
}

.outer-post-wrapper .comments li {
    background-color: #131414;
    font-size: 0.9em;
    padding: 1em;
    border-bottom: 1px solid var(--qborder);
    gap: 0;
}


.outer-post-wrapper .comments ul {
    gap: 0;
}
