@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --qwhite: #b6b3b3;
    --qgrey: #A39E96;
    --qborder: #4c5052;
    --qred:  #b63533;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body, form {
    background-color: #191A1B;
    color: var(--qwhite);
}

button, input {
    color: var(--qwhite);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

.title {
    color: var(--qred)
}

input {
    background-color: #212223 !important;
    background: #212223 !important;
}

button {
    background-color: transparent;
    border: none;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-pic-user-account-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

button {
    cursor: pointer;
}

.edit-question-container button:hover {
    color: var(--qred)
}

.fa-comment {

}
.fa-comment:hover {
    color: var(--qred);
}


.edit-question-container {
    margin-bottom: -0.5em;
}

.updown-vote {
    border: 1px solid var(--qwhite);
    display: flex;
    gap: 5px;
    width: 113px;
    border-radius: 1000px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.updown-vote span {
    font-size: 13px;
    border-right: 1px solid var(--qwhite);
    padding-right: 9px;
}

.updown-vote div {
    display: flex;
    align-items: center;
}

.upvote {
    width: 80%;
}

.comment {
    cursor: pointer;
    margin: auto;
}