@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --qwhite: #b6b3b3;
    --qgrey: #A39E96;
    --qborder: #4c5052;
    --qred:  #b63533;
    --qblue: rgb(86, 147, 214);
    --qblack: rgb(20, 21, 22);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


body, form {
    background-color: #191A1B;
    color: var(--qwhite);
}

button, input {
    color: var(--qwhite);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.title {
    color: var(--qred)
}

input {
    background-color: #212223 !important;
    background: #212223 !important;
}

button {
    background-color: transparent;
    border: none;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-pic-user-account-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

button {
    cursor: pointer;
}

.edit-question-container button:hover {
    color: var(--qred)
}

.fa-comment {

}
.fa-comment:hover {
    color: var(--qred);
}


.edit-question-container {
    margin-bottom: -0.5em;
}

.updown-vote {
    border: 1px solid var(--qwhite);
    display: flex;
    min-width: 133px;
    height: 31px;
    border-radius: 1000px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.upvotes-length {
    border-right: 1px solid var(--qwhite);
    padding-right: 9px;
}

.upvotes-length, .upvotes-text {
    font-size: 13px;
}

.updown-vote div {
    display: flex;
    align-items: center;
}

.upvote {
    width: 80%;
    font-size: 13px;
}

.upvoted {
    color: rgb(86, 147, 214);
}

.downvoted {
color: rgb(206, 128, 93);
}

.comment {
    cursor: pointer;
    margin: auto;
}

.updown-vote .fa-arrow-down {
    padding-left: 10px;
}

.user-profile-more-link {
    background: var(--qblack);
    color: rgb(86, 147, 214);
    cursor: pointer;
    font-size: 14px;
    box-shadow: var(--qblack) -16px 0px 14px 6px !important;
    float: right;
    opacity: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 8px 3.3px 0;
}

.post-content {

}