@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

:root {
    --qwhite: #dee0e1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #212223;
    color: var(--qwhite)
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

.title {
    color: #b91815;
}