.homepage-wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.ask-question-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.ask-question-wrapper form{
    width: 100%;
    display: flex;
    align-items: center;
}
.ask-question-wrapper input {
    width: 600px;
    margin: 0 auto;
    height: 3em;
}