.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  background: #0F1011;
  height: 3em;
  margin-bottom: 1em;
}

.nav-container ul {
  height: 100%;
  align-items: center;
}
