.back {
    display: flex;
}
  
.front {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    align-self: center;
    background: transparent;
    vertical-align: top;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    background: #195aff;
}

.front form {
    margin: 0 auto;
    align-self: center;
    background: transparent;
    vertical-align: top;
    margin: 0 auto;
    font-size: 20px;
    max-width: 100%;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    
}

.profile-panel {
    border-bottom: 1px solid var(--qwhite);
    padding: 10px 10px 0px 10px;
    line-height: 40px;
    /* margin-bottom: 10px; */
}


.user-question, .user-answer, .user-post {
    margin-top: 10px;
    border-bottom: 1px solid var(--qwhite)
}

.profile-panel ul li{
    cursor: pointer;
}

.panel-item-active {
    color: var(--qred);
    border-bottom: 2px solid var(--qred);

}

.user-answer, .user-post {
    padding-bottom: 10px;
}

.user-question .hover-red button:hover {
    color: var(--qred);
}

.user-answer button:hover {
    color: var(--qred);
}