.back {
    display: flex;
}
  
.front {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    align-self: center;
    background: transparent;
    vertical-align: top;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    background: #195aff;
}

.front form {
    margin: 0 auto;
    align-self: center;
    background: transparent;
    vertical-align: top;
    margin: 0 auto;
    font-size: 20px;
    max-width: 100%;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    
}

.profile-panel {
    border-bottom: 1px solid var(--qwhite);
    padding: 10px 10px 0px 10px;
    line-height: 40px;
    /* margin-bottom: 10px; */
}


.user-question, .user-answer {
    margin-top: 10px;
    border-bottom: 1px solid var(--qwhite)
}

.profile-panel ul li{
    cursor: pointer;
}

.panel-item-active {
    color: var(--qred);
    border-bottom: 2px solid var(--qred);

}

.user-answer {
    padding-bottom: 10px;
}

.updown-vote {
    border: 1px solid var(--qwhite);
    display: flex;
    gap: 5px;
    width: 113px;
    border-radius: 1000px;
    padding: 3px 10px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.updown-vote span {
    font-size: 13px;
    border-right: 1px solid var(--qwhite);
    padding-right: 9px;
}

.updown-vote div {
    display: flex;
    align-items: center;
}

.upvote {
    width: 80%;
}