.edit-question-wrapper input {
    width: 550px;
    margin: 0 auto;
    height: 3em;
    border: 1px solid var(--qborder);
    border-radius: 1000px;
    padding-left: 1em;
}

.edit-question-wrapper button:hover {
    color: var(--qred);
    cursor: pointer;
}